#lock{
    padding-top: 8px;
    font-size:70px;
    margin-left: 40%;
     background: linear-gradient(to right, rgb(47, 50, 50), rgb(148, 32, 32));
    -webkit-background-clip:text;
    background-clip:text ;
    margin-top: 2%;
    color: #000000;
    color: transparent;


}
.container{
    justify-content: center;
    width: 450px;
    background-color:rgba(208, 203, 204, 0.12);
    margin-top: 70px;
    height: 480px;
    /* border: 1px solid rgb(148, 32, 32); */
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(216, 234, 236);
    background: linear-gradient(to right, rgb(216, 234, 236), rgb(167, 226, 247));
    -webkit-background-clip:text;
    background-clip: border-box;
    color: transparent;

}
.container h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}
.container p{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
.container input{
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: larger;
    justify-content: center;
    display: flex;
}
.container button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color: rgb(162, 84, 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    font-size: larger;
}
.container button:hover{
    background-color: rgb(68, 36, 12);
}
.container h4{
    text-align: center;
    margin-top: 20px;
}
.container h6{
    text-align: center;
    margin-top: 20px;
    
}
.container h6 a{
    text-decoration: underline;
    color: rgb(68, 36, 12);
    
}
.or-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  color: black;
}

.or-line::before,
.or-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #121111;
}

.or-line span {
  padding: 0 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.error-space{
  min-height: 18px;  /* reserves space always */
  margin-bottom: 12px;
  
}
.error {
  color: black;
  font-size: 12px;
  font-weight:lighter;
  display: block;
  /* margin-bottom: 10px; */
}