#lock{
    font-size:70px;
    margin-left: 40%;

}
.container{
    width: 30%;
    background-color: rgba(208, 203, 204, 0.12);
    padding: 20px;
    margin:100px auto;
    border-radius: none;
    box-shadow: 0 0 10px rgb(43, 38, 38);
}
.container h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container p{
    text-align: center;
    margin-bottom: 20px;
}
.container input{
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(213, 229, 243);
    border: none;
    font-size: larger;
}
.container button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color: rgb(162, 84, 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    font-size: larger;
}
.container button:hover{
    background-color: rgb(68, 36, 12);
}
.container h4{
    text-align: center;
    margin-top: 20px;
}
.container h6{
    text-align: center;
    margin-top: 20px;
    
}
.container h6 a{
    text-decoration: underline;
    color: rgb(68, 36, 12);
    
}
.or-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.or-line::before,
.or-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #121111;
}

.or-line span {
  padding: 0 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
