.container{
    justify-content: center;
    width: 450px;
    background-color:rgba(208, 203, 204, 0.12);
    margin-top: 70px;
    height: 450px;
    /* border: 1px solid rgb(148, 32, 32); */
    border-radius: 2px;
    box-shadow: 0 0 4px rgb(216, 234, 236);
    background: linear-gradient(to right, rgb(216, 234, 236), rgb(167, 226, 247));
    -webkit-background-clip:text;
    background-clip: border-box;
    color: transparent;

}

i{ 
    background: linear-gradient(to right, rgb(47, 50, 50), rgb(148, 32, 32));
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;

    font-size: 100px;
    margin-left: 36%;
    margin-top: 8%;
    margin-bottom: 8%;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
p{
    color: black;
    text-align: center;
}
div{
    justify-content: center;
}
#otp-box{
    height: 60px;
    width:60px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgb(213, 229, 243);
    outline: none;
}
.container-box{
    margin-top: 3%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color:rgb(162, 84, 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    font-size: larger;
     
}
button:hover{
    background-color: rgb(68, 36, 12);
     background: linear-gradient(to right, rgb(47, 50, 50), rgb(148, 32, 32));
    -webkit-background-clip:text;
    background-clip:padding-box ;
    color: transparent;
    color: bisque;
}
.error {
  color: rgb(0, 0, 0);
  height: 2px;
  font-size: 12px;
  font-weight:lighter;
  
  display: block;
  /* margin-bottom: 10px; */
}