body{
    background: linear-gradient(to right, rgb(236, 252, 252), rgb(237, 239, 239));
    -webkit-background-clip:text;
    background-clip: border-box;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

