body{
    background: linear-gradient(to right, rgb(196, 230, 230), rgb(32, 113, 148));
    -webkit-background-clip:text;
    background-clip: border-box;
    color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

